.contact-form-wrapper {
    .contact-form {
        input {
            display: block;
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    }

    .button {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        display: block;
        width: 100%;
    }
}
